.white-font {
    color: white;
}

.OPEN {
    background-color: indianred;
}

.IN_PROGRESS {
    background-color: dodgerblue;
}

.COMPLETED {
    background-color: orange;
}

.CHECKED {
    background-color: forestgreen;
}
